*, *::after, *::before{
	margin: 0;
	padding: 0;
/*	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: box;*/
}

#contenedorCarga{
	background-color: rgba(65,170,84,1);
	height:100%; 
	width:100%;
	position: fixed;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 100000;
}

#carga{
	border:15px solid #ccc;
	border-top-color: #0f2433;
	border-top-style: groove;
	height: 130px;
	width: 130px;
	border-radius: 100%;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-animation: girar 1.5s linear infinite;
	-webkit-animation: girar 1.5s linear infinite;
	animation: girar 1.5s linear infinite;
}

@keyframes girar{
	from{transform: rotate(0deg); }
	to{transform: rotate(360deg); }
}
#logoChiapas{
	height: 100px;
	width: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.logo{
	display: block;
	margin: auto;
	background-size: 30px;
	width: 100%;


}
